<label class="flex flex-col gap-3 text-indigo-50/60 font-medium">
    {Astro.props.label}
	<input {...Astro.props} class="px-6 py-4 border border-indigo-50/60 rounded-xl font-medium text-indigo-50 text-lg placeholder-indigo-50/60">
</label>